$govuk-assets-path: "/business-account/help/assets/lib/govuk-frontend/govuk/assets/";
$hmrc-assets-path: "/business-account/help/assets/lib/hmrc-frontend/hmrc/";
$govuk-suppressed-warnings: "ie8";

@import "lib/govuk-frontend/dist/govuk/all";
@import "lib/hmrc-frontend/hmrc/all";

.app-reference-number {
  display: block;
  font-weight: bold;
}

.help-and-contact-homepage {
  .content__body {
    width: 100%;
  }
}

.help-nav-active {
	border-left: 4px solid #1d70b8;
	margin-left: -14px;
	padding-left: 8px;
	font-weight: bold;
}