@import 'partials/_variables';
@import 'partials/_base';
@import 'partials/_forms';
@import 'partials/_tabular-data';
@import 'partials/_typography';
@import 'partials/_utilities';
@import 'partials/_shame';
@import 'partials/_buttons';

.heading-medium, .heading-24, h2, .h2-heading {
  margin-top: .42105em !important;
}

.padding-top-medium {
  padding-top: 15px !important;
}

.padding-top-large {
  padding-top: 30px !important;
}

.margin-top-medium {
  margin-top: 15px !important;
}

.margin-top-large {
  margin-top: 30px !important;
}

.margin-top-xlarge {
  margin-top: 45px !important;
}

.no-margin-bottom {
  margin-bottom: 0;
}

.no-margin-top {
  margin-top: 0;
}

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
}

.video-container iframe {
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
}

.contact-number {
  display: block;
}

.address {
  font-style: normal;

  .address-line {
    display: block;
  }

}

.help-and-contact-homepage .content__body {
    width: 100%;

    h2 {
      font-size: 30px;
      border-bottom: 1px solid $border-colour;
    }
}

